footer {
    margin: 0;
    display: block;
    background: #392C1E;
    color: #B6AC97;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'MontSerrat', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.footerP {
    font-size: 13px;
}
.middlePart {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
} 
.logo-footer {
    padding-top: 1em;
    height: 30px;
}
.img-footer {
    max-height: 25px;
}

@media screen and (min-width:640px){
    footer {
        font-size:18px;

    }
    .logo-footer {
        height: 100px;
    }
    .img-footer {
        height: 70px;
    }
}
